@use "@/styles/variables" as variables;

/* Spacing */
@mixin global-margin-x-sm {
    margin-left: 1rem;
    margin-right: 1rem;
}

@mixin global-margin-x-md {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

@mixin global-margin-x-lg {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

@mixin global-margin-y-top {
    margin-top: 1rem;
}

@mixin global-margin-y-bottom {
    margin-bottom: 1rem;
}

@mixin global-padding-x-sm {
    padding-left: 1rem;
    padding-right: 1rem;
}

@mixin global-padding-x-md {
    padding-left: 1.25rem;
    padding-right: 0.75rem;
}

@mixin global-padding-x-lg {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@mixin global-padding-y-top {
    padding-top: 1rem;
}

@mixin global-padding-y-bottom {
    padding-bottom: 1rem;
}

/* Typography */
@mixin txt-h1 {
    font-size: 3.5rem;
    font-weight: 400;
    font-family: variables.$font-primary;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

@mixin txt-h2 {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: variables.$font-primary;
    line-height: 1.3;
}

@mixin txt-h3 {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: variables.$font-primary;
    line-height: 1.4;
}

@mixin txt-h4 {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: variables.$font-primary;
    line-height: 1.4;
}

@mixin txt-body-1 {
    font-family: variables.$font-secondary;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.7;
}

@mixin txt-body-2 {
    font-family: variables.$font-secondary;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

@mixin txt-caption {
    font-family: variables.$font-secondary;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.05em;
}

@mixin txt-link {
    text-transform: uppercase;
    font-family: variables.$font-secondary;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    color: variables.$black;
    letter-spacing: 0.1em;
}
